@media screen and (min-width: 735px) and (max-width: 1187px) {
  #trust_logos {
    background-color: white;
  }
}

@media screen and (min-width: 1188px) {
  #trust_logos {
    background-color: white;
    width: 1188px;
  }
  #featured_cards{
    width: 1188px;
  }
}

@media screen and (min-width: 764px) {
    #featured_cards{
        grid-template-columns: auto auto auto;
        font-size: 1.2rem;
    }
    #featured_heading{
        font-size: 2rem;
    }
    .card_header{
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 768px){
  .admin_menu{
    transition: transform 0.3s ease;
  }
}
